$bg_board: #000000;
$text : #ffffff;
$text_hover: #cccccc;
$light_text: lighten($text, 10%);
$header_color : #fff;
$font_average : 1.2em;
$link_color : #009fbf;
$link_color_hover : #e000e3;
$font_family : 'Comic Sans MS', cursive, sans-serif;
$font_second_family: Impact, Charcoal, sans-serif;
$btn_font: 'Niconne', cursive, sans-serif;
$keyboard_font: 'Cousine', Verdana, monospace;
$font_size : 17px;
$maxwidth : 1180px;
$line_color : #d9d9d9;



$btn_background: #d1d1d1;
$main_background: #000000 url('../images/rope_cloud.jpg') center top no-repeat;
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------*/
:focus { outline:none; }
::-moz-focus-inner { border:0; }
*:focus { outline: 0; }
* {margin:0; box-sizing: border-box;}

html, body{
	margin:0;
	padding:0;
	background-color:white;
	color:#666666;
	font-size:15px;
	font-family: $keyboard_font;
	height:100%;
  min-height:100%;
}
img{ border-style:none; vertical-align:top; }
a{ text-decoration:underline; color:#ffffff; font-weight:bold; font-family:$keyboard_font; font-size:1em; }
a:hover{text-decoration:none;}

h1 { color: $text;font-family: $font_family; font-weight:normal; text-align:center; font-size:50px; line-height:1.2em; padding:10px 0px; margin:0px auto 0px;}
h1 span {color:red; font-family: $font_second_family;}
h2 { color:$header_color; font-family: $keyboard_font; font-weight:normal; text-align:left; font-size: 3.2em; line-height:1em; margin:0px 0px 20px; padding-top:30px}
h3 { color:$text; font-family: $font_second_family; font-weight:normal; text-align:center; font-size: 1.8em; line-height:1.2em; margin:0px 0px 15px 0px;}
h4 { color:$text; font-family: $keyboard_font; font-weight:normal; text-align:center; font-size: 31px; line-height:1.2em; margin:0px 0px 15px;}
h5 {font-family:$btn_font; font-weight:bold; color:black; font-size:1.1em; line-height:1.4em;}
h6 {font-family:$btn_font; font-weight:bold; color:black; font-size:1.6em; line-height:1.6em; margin:0; padding:0;}

p{ color:$text; font-size:1.1em; font-family: $keyboard_font; text-align:left; line-height:1.3em; margin-top:8px; margin-bottom:20px;}

.float-containers {overflow:hidden; width:100%;}
.fl {float:left; width:60%;}
.fr {float:right; width:39%;}
.onethird{width:32%; float:left;}
.marginleft {margin-left:2%;}
.medium-col{float:left; width:49%;}

.footer {position:fixed; bottom:10px; right:10px; z-index:9;padding-top:200px;}
label{font-family: $keyboard_font; color:$text; font-size:1em; line-height:1.4em;}
ul { list-style: disc; color: white;}
ul li { color:white; font-family: $keyboard_font; font-size: 1.6em; line-height:1.6em; font-weight:100; }

#content {position:relative; overflow:hidden;}
.isVisible {display:block;}
.invisible {display:none;}
hr{margin-top:5px; margin-bottom:8px; border:none; border-bottom:1px solid #d9d9d9;}

/* KEYBOARD STYLES */
#keyboard {width:70%; margin:0 auto; text-align:center; position:relative;}
ul.letters {margin-top:20px;}
.letters li {position:relative; display:inline-block; min-width:20%; margin-bottom:20px; list-style:none; text-align:center; }
.letter{ font-weight:bold; text-transform:uppercase;
  text-shadow: 2px 2px 1px rgba(30, 30, 30, 0.8);
}

.letters a, .invalid {text-decoration:none; font-weight:bold; font-family: $keyboard_font; color:$text; font-size:2em; line-height:1em;}
a:hover .letter { color: $text_hover;}


//FORM
.input-wrap{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #000; border-bottom: 3px solid #000; background: url('../images/btn_input.jpg') no-repeat; color:white; width:100%; max-width:400px; margin:0 auto 15px;}
select {background:none;text-align:left; font-size:2em; border:none; width:95%; color:white; margin:0px 10px 4px; -webkit-appearance: none; -moz-appearance: none; background: url("../images/select.png") no-repeat 95% 50% !important;}
.inp_name { border: 0; width:91%; background:none; color:white; margin:0px 10px 4px; font-size:2em;}

//Top10
.player_results {position:relative; overflow:hidden; width:90%; margin:0 auto; font-size:2em; line-height:1.5em; color:$text;}
.player_position {float:left; width:20%; text-align:left;}
.player_name {float:left; width:50%; text-align:left;}
.player_points{ float:right; width:20%; text-align:right;}
.error {border-color: red;}

.form_box { position:relative; width: 700px; margin: 0px auto; padding:13px 10px 1px;}
  #intro_board .form_box {width:400px}
.inner-box{ position:absolute; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #000; top:0; left:0; width:100%; height:100%; background:white; opacity:0.4; }

.buttonbg{ width:100%; max-width:400px; margin: 10px auto 10px; text-align:center;}
.button {
  display:block;
  width:100%;
  color: rgb(255, 255, 255);
  font-size: 40px;
  line-height:42px;
  padding: 5px 0px 5px;
  font-family: $btn_font;
  text-shadow: 2px 2px 1px rgba(30, 30, 30, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url('../images/btn_bg.png') 0 0 no-repeat; 
  -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.71);
  -moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.71);
  box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.71);
text-decoration: none;
}
a.button:hover{color:black;}

.container{position:relative; width:100%; margin: 0 auto; height:100%; min-height:100%; text-align:center; background: $main_background; overflow-x:hidden;}
.outer-wrapper {position:relative; width:100%; height:100%; min-height:100%; overflow:hidden; max-width:700px; margin: 0 auto;}

.playingarea {height:100%; min-height:100%; position:relative; width:4000px;}
.wrapper { height:100%; min-height:100%; position:relative; width:700px; }
//#game_arena { width:100%;height:100%; min-height:100%; position:absolute; top:0px; left:0px;}

#stage { width: 100%; height: 100%;}
#board {position: relative; height:100%; line-height:0; font-size:0; background-color:$bg_board;}//position:relative; top:0px; left:0; text-align:center; margin:0 auto; width:100%;}
#intro_board { width:100%; left: 0; top:0; position:relative;}
// #top10, #aboutus, #howtoplay {width:100%; left: 5000px; top:0; position:absolute; display:block; background-color:$bg_board;}
.hiddenbox {display:none; position:absolute; width:100%; height:100%; top:0; left:0;}
#hangman_board.hiddenbox {background-color:$bg_board;}

// .overlay {width:100%; height:100%; left: 50%; top: 50%; margin-top:0%; margin-left:0%; line-height:1em; font-size:12px; opacity:1; text-align:center; background: $main_background;}

.invalid{ color:#909090;
	-moz-transform: rotate(-15deg);  
     -o-transform: rotate(-15deg);  
-webkit-transform: rotate(-15deg);  
    -ms-transform: rotate(-15deg);  
        transform: rotate(-15deg);  
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  
                  M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104);
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')";
             zoom: 1;
}

/* Custom dialog */
#dialog-confirm{display:none;}
.ui-dialog{padding:0.4em;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none;}
.ui-dialog .ui-dialog-buttonpane { padding:0px;}
.ui-dialog .ui-dialog-content {padding: .5em .5em;}
.ui-button-text-only .ui-button-text { padding: 0;}
.ui-widget-header{background:none; border:none; }
.ui-dialog-title {font-family:$font_family; color:black; font-size:2em;}
.ui-dialog .ui-dialog-titlebar {padding:.4em .5em;}
.ui-button-text-only .ui-button-text {font-family:$btn_font; text-transform:lowercase;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none;}
  display:block; width:100%; color: rgb(255, 255, 255); font-size: 25px; line-height:45px; padding: 10px 0px 5px; text-decoration: none; font-family: $btn_font; 
  text-shadow: 2px 2px 1px rgba(30, 30, 30, 0.8);
  background: url('../images/btn_bg.png') 0 0 no-repeat; 
  -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.71);
  -moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.71);
  box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.71);
  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px;
}

#mystery_word {font-size:3em; color:$text; text-align:center; letter-spacing:0.5em; margin-bottom:10px; word-wrap:break-word; overflow:auto; line-height:1.2em;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
/* Default wide-screen styles */
@media only screen and (max-width: 1250px) {
}
@media only screen and (max-width: 1024px) {
	/* big landscape tablets, laptops, and desktops */
}
@media only screen and (max-width: 768px) {
  /* styles for narrower desktop browsers and iPad portrait */ 
  html, body{ font-size:12px;}
  #mystery_word {font-size:1.5em; letter-spacing:0.3em;}
  #keyboard {width:100%}
  #game_arena {width:100%;}
  img{width:100% !important;}
}
@media only screen and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .letters a {font-size:3.2em;}
  h1 {font-size:4em;}
  ul li { font-size:0.8em;}
  .player_results {font-size:1em;}
  .input-wrap{width:98%;}
  .buttonbg{width:90%}
  .button{ font-size:2.4em;}

  
}
@media only screen and (max-width: 410px) {
    /* styles for iPhone/Android portrait */ 
  .form_box{width:96% !important; padding:10px;}
}
@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 240px) {
    /* styles for smaller devices */
}